body {
    background-image: url('images/texture-seamless-wood-4.jpg');
    background-repeat: repeat;
}

.top-decoration {
    height: 37px;
    background-image: url('images/yellow-notepad-wire.jpg');
    background-repeat: repeat;
}

.main-content {
    padding-left: 1rem;
    padding-right: 1rem;
    background-image: url('images/yellow-notepad-long.jpg');
    background-repeat: repeat;
}

.bg-transparent {
    background-color:rgba(0, 0, 0, 0);
    border: 0px none;
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 0;
    }
  }